<div class="product-main-view">
	<div class="mobile-subheader">
		which page is user at, how many items in this page. 
	</div>
	<aside class="product-categories-desktop">
		<h2>{{gender}}</h2>
		<ul class="list-unstyled">
			<a ng-href="{{gender}}/{{category}}" ng-repeat="category in categories">
				<li>{{category}}</li>
			</a>
		</ul>
	</aside>
	<section class="products-area">
		<div class="product-list-heading">
			<h2>{{selectedCategory}}</h2>
			<div class="breadcrumbs">
				<a href="/">clothes shop</a><span> / <span>
				<a ng-href="/{{gender}}">{{gender}}</a><span> / <span>
				<span class="current-category">{{selectedCategory}}<span>
			</div>
		</div>
		<div class="product-list-container">
			<div class="product-list-item" ng-repeat="product in products">
				<product-item-directive input="product"></product-item-directive>
			</div>
		</div>
	</section>
</div>
