<div class="product-main-view">
	<!-- navigation on the side of the browser -->
	<aside class="product-categories-desktop">
		<h2>{{gender}}</h2>
		<ul class="list-unstyled">
			<a ng-href="{{gender}}/{{category}}" ng-repeat="category in categories">
				<li>{{category}}</li>
			</a>
		</ul>
	</aside>
	<!-- product listing area -->
	<section class="products-area">
		<div class="product-list-heading">
			<h2>{{selectedCategory}}</h2>
			<!-- breadcrumbs for desktop -->
			<div class="breadcrumbs">
				<a href="/">clothes shop</a><span> / <span>
				<span class="current-category">{{gender}} {{selectedCategory}}<span>
			</div>
		</div>
		<!-- product list -->
		<div class="product-list-container">
			<div class="product-list-item" ng-repeat="product in products">
				<product-item-directive input="product" gender="gender" category="selectedCategory"></product-item-directive>
			</div>
		</div>
	</section>
</div>
