/* ------ product area ------ */
.product-main-view {
    display: block;
}

.product-categories-desktop {
    display: none;
    float: left;    
    width: 16%;
}

.product-categories-desktop h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.products-area {
    display: block;
    width: 100%;
    text-align: center;
}

.product-list-heading {
    display: block;
    width: 100%;
}

.product-list-heading h2 {
    text-transform: uppercase;
}

.product-list-heading .breadcrumbs {
    text-transform: uppercase;
    padding-bottom: 6px;
}

.product-list-heading .current-category {
    color: #888888;
}

.product-list-item {
    display: inline-block;
    width: 48%;
    margin-bottom: 20px;
}

.product-list-item:nth-child(2n) {
    margin-left: 2%;
}

.product-list-item span {
    display: block;
    font-size: 1.1em;
}

.product-list-item img {
    width: 100%;
    padding-bottom: 5px;
}

/* ------ product category, which is displayed on mobile devices ------ */
.product-category {
    width: 100%;
}

.product-category li {
    display: block;
    font-size: 1.3em;
    padding: 5px 10px;
    border-bottom: 1px solid #888888;
}

/* ------ media queries ------ */
@media screen and (min-width: 1023px) {
    .products-area {
        float: left;
        width: 84%;
        text-align: left;
    }
    
    .product-item {
        width: 48%;
    }
    
    .product-item:nth-child(2n) {
        margin-left: 4%;
    }
    
    .product-categories-desktop {
        display: inline-block;
    }
}