<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <a href="/" class="navbar-brand" title="Home" id="logo">
                <strong><i>Clothes Shop</i></strong>
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hamburger-menu-list">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse" id="hamburger-menu-list">
            <ul class="list-unstyled">
                <a href="/category-list/ladies"><li>LADIES</li></a>
                <a href="/category-list/men"><li>MEN</li></a>
                <a href="/category-list/kids"><li>KIDS</li></a>
            </ul>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a calss="navbar-item dropdown-toggle" data-toggle="dropdown">
                    <strong>LADIES</strong>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="category in ladiesCategories">{{category.name}}</li>
                </ul>
            </li>
            <li class="dropdown">
                <a calss="navbar-item dropdown-toggle" data-toggle="dropdown">
                    <strong>MEN</strong>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="category in menCategories">{{category.name}}</li>
                </ul>
            </li>
            <li class="dropdown">
                <a calss="navbar-item dropdown-toggle" data-toggle="dropdown">
                    <strong>KIDS</strong>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="category in kidsCategories">{{category.name}}</li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- make hamburger-menu collapse when clicking on an anchor element -->
    <script>
        $(document).on('click', '#hamburger-menu-list a', function(e) {
            $('#hamburger-menu-list').collapse('hide');
        });
    </script>
</div>





