/* ------ product area ------ */
.product-main-view {
    display: block;
}

.product-categories-desktop {
    display: none;
    float: left;    
    width: 16%;
}

.product-categories-desktop h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.products-area {
    display: block;
    width: 100%;
    text-align: center;
}

.product-list-heading {
    display: block;
    width: 100%;
}

.product-list-heading h2 {
    display: none;
    text-transform: uppercase;
}

/* breadcrumbs */
.product-list-heading .breadcrumbs {
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.product-list-heading .breadcrumbs {
    display: none;
}

.product-list-heading .current-category {
    color: #888888;
}

.mobile-breadcrumbs {
    position: fixed;
    width: 100%;
    color: #ffffff;
    background-color: #333333;
    text-align: left;
    text-transform: capitalize;
    padding-bottom: 5px;
    margin-left: 1.33333333%;
}

/* product list items */
.product-list-item {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-bottom: 20px;
}

.product-item-image-wrapper {
    position: relative;
}

.product-item-image-wrapper span {
   position: absolute;
   top: 43%;
   left: 48%;
   transform: translateX(-43%) translateY(-48%);
   color: #ffffff;
   font-size: 1.6em;
   white-space: pre-line;
   text-align: center;
   padding: 0;
   margin: 0;
}

.product-list-item:nth-child(2n) {
    margin-left: 2%;
}

.product-name, product-price {
    display: block;
    font-size: 1.1em;
}

.product-list-item img {
    width: 100%;
    padding-bottom: 5px;
}

/* ------ product category, which is displayed on mobile devices ------ */
.product-category {
    width: 100%;
}

.product-category li {
    display: block;
    font-size: 1.2em;
    padding: 10px 20px;
    border-bottom: 1px solid #888888;
}

/* ------ media queries ------ */
@media screen and (min-width: 1023px) { 
    .product-list-heading h2 {
        display: block;
    }  
    
    .products-area {
        float: left;
        width: 84%;
        text-align: left;
    }
    
    .product-list-heading .breadcrumbs {
        margin-left: 0;
    }

    .product-list-heading .breadcrumbs {
        display: inline-block;
    }
    
    .mobile-breadcrumbs {
        display: none;
    }
    
    .product-list-item {
        width: 24%;
    }
    
    .product-list-item:not(:nth-child(4n+1)) {
        margin-left: 1.33333333%;
    }
    
    .product-categories-desktop {
        display: inline-block;
    }
}