body {
    background-color: #fefefe;
    width: 100%;
}

a,
a:focus,
a:link,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: #333333;
}

.view-container {
    display: block;
    padding-top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

/*------------- header -------------*/

nav {
    z-index: 10;
    margin: 0;
}

.navbar {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.navbar .navbar-nav {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown a:hover {
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* hamburger menu */
#hamburger-menu-list li {
    font-size: 1.2em;
    padding: 10px 0;
    border-top: solid 1px #eeeeee;
    text-align: center;
}

/*------------ main view ------------*/

.mainBanner {
    display: block;
    text-align: center;
}

.mainCategories {
    display: block;
}

.mainCategories > ul li {
    position: relative;
    width: 100%;
    text-decoration: none;
}

.mainCategories > ul li img {
    width: 100%;
}

.mainBanner, .mainCategories > ul li {
    margin-bottom: 10px;
}

.mainCategories > ul li p {
    position: absolute;
    background-color: #ffffff;
    color: #333333;
    bottom: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
}



/*----------- footer ------------*/
.footer {
    display: block;
    width: 100%;
    font-size: 20px;
    background-color: #ffffff;
}

/* footerPanel, which will only be diaplayed in small screen */
.footerPanel .panel {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}

.footerPanel i {
    float: right;
    color: #808080;
}

.footerPanel a {
    color: #333333;
}

.footerPanel .panel-title {
    font-size: 0.9em;
}

/* Override bootstrap panel properties */
.panel-group {
    margin-bottom: 10px;
}

.list-group {
    margin-bottom: 0;
}

.panel-default > .panel-heading {
    background-color: #ffffff;
}

.list-group-item {
    font-size: 0.8em;
}

/* footerColumns, which will only be displayed in large screen*/
.footerColumns {
    display: block;
    clear: both;
    margin-top: 40px;
    padding-top: 10px;
    border-top: solid 0.5px #eeeeee;
    border-bottom: solid 2px #888888;
    background-color: transparent;
    margin-bottom: 20px;
    font-size: 0.6em;
}

.footerColumns ul {
    text-align: center;
}

/*------------- media queries-------------*/
@media (max-width: 978px) {
    /* Override Bootstrap properties */
    .container {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    body {
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 1023px) {
    a:hover {
        text-decoration: underline;
    }
    
    .mainCategories > ul li {
        float: left;
        width: 33%;
    }

    .mainCategories > ul li:nth-child(2) {
        margin-right: 0.5%;
        margin-left: 0.5%;
    }

    .footerPanel {
        display: none;
    }
}

@media screen and (max-width: 1022px) {
    .footerColumns {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .view-container {
        padding-top: 50px;
    }
    
    /* hide navbar-nav when hamburger menu is displayed */
    .navbar-static-top {
        position: fixed;
        width: 100%;
        margin-bottom: 0;
    }
    
    .navbar-wrapper .navbar-nav {
        display: none;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 480px) {
/*    #myCarousel .carousel-inner .item:first-child img {
        content: url('app/main_view/main_view_images/banner_images/banner-one-small.png');
    }

    #myCarousel .carousel-inner .item:nth-child(2) img {
        content: url('app/main_view/main_view_images/banner_images/banner-two-small.png');
    }

     #myCarousel .carousel-inner .item:nth-child(3) img {
        content: url('app/main_view/main_view_images/banner_images/banner-three-small.png');
    }
    */
}



